table {
    background-color: var(--mediumDarkBlue);
    border-style: none;
  }
  
  th, td {
    border-style: none;
    padding: 10px;
  }

.position {
    text-align: center;
}

button {
    padding: 5px;
    background-color: var(--yellow);
    border-style: none;
    font-weight: 900;
    color: black;
}